.direction{
    margin-top: 5%;
    flex-wrap: wrap;
    font-family: "华文新魏", "SimSun", Arial, sans-serif;
}

/* 容器样式 */
.direction-container {
    max-width: 60%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 类别样式 */
.category {
    width: 100%;
}

.category-title {
    font-size: 24px;
    width: 8%;
    margin-bottom: 10px;
    padding: 5px;
    color: #333;
    border-left: 5px solid rgba(7,123,255,0.5);
    background-color: rgba(230,240,255,0.8);
}

/* 链接框容器 */
.link-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* 链接框样式 */
.link-box {
    /* width: calc(25% - 10px); */
    width:15%;
    background: rgba(255,255,255,0.5);
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.link-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* 链接样式 */
.link-box a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
    font-weight: bold;
}

.link-box a:hover {
    color: #0056b3;
}
